html,
body {
    height: 100%;
    margin: 0;
    background-color: black;
}

#map {
    width: 600px;
    height: 400px;
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

#map {
    height: 100%;
    width: 100vw;
    background-color: black;
}