html,
body {
    background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
    height: 100%;
    margin: 0;
    background-color: black;
}

#map {
    background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
    width: 600px;
    height: 400px;
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

#map {
    height: 100%;
    width: 100vw;
    background-color: black;
}
/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
    border-style: inset;
    border-width: 1px;
    border-color:rgb(0, 0, 0);
    background: #000000;
    opacity: 0.85;
    color: #ffffff;
    text-shadow: 0.35px 0.35px #a2f1f7;
    box-shadow: 0 10px 10px 0 #ffffff, 0 15px 15px 0 #a2f1f7, 0 20px 20px 0 #000000;
    /*box-shadow: 5px 5px 5px #a498da, 10px 10px 10px rgb(217, 190, 243), 15px 15px 15px rgb(235, 234, 234), 20px 20px 20px black; */
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }